<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div style="text-align: center;">
    <canvas id="screen" style="margin: auto"></canvas>
    <br/>
    <a href="https://github.com/spikegrobstein/bloodya.nes">6502 ASM Source</a> | <a href="../bloodya.nes">NES ROM</a> <br/>
    Click to clench and stop the bleeding.
    </div>
  </body>
</body>
